<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presupuesto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trabajo_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body style="margin: 0;" class="body-login-style">
     
 
    <div class="registro-login-container">

            <div class="text login-registro-info">
                <div class="ms-5 me-3">
                    <h1>Presupuesto MVC</h1>
                    <h4>En esta aplicación podrás manejar el presupuesto de tus objetivos o actividades.</h4>
                </div>
     
            </div>
            <main role="main" class="login-registro-form">
                @RenderBody()
            </main>
 
    </div>
    

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>